* {
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
}

.navigation {

    margin-top:10vh;

}

a {
    text-decoration: none;
    transition: 150ms;
}

a:hover {
    color:rgb(36, 33, 33);
}

.language {
    position: absolute;
    top:0;
    left:10vw;
    display: flex;
}

.language li {
    margin:0 1rem 0 1rem
}

li[choosen]{
    color:red;
}