* {
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    margin-top: 10vh;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    transition: 150ms;
}

a:hover {
    color:rgb(36, 33, 33);
}