body {
    background-color: rgb(231, 231, 231);
    display: flex;
    place-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.board {
    background: rgb(255, 255, 255);
    width: 30rem;
    display: grid;
    aspect-ratio: 1;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    place-items: center;
    gap: 0.2rem;
    padding: 2rem;
}

.cell {
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: 0 0 0 .25rem white;
    background: rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
    display: grid;
    place-content: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: 250ms;
    border-radius: 50%;
}

.words-settings {
    padding: 1rem;
}

.words-input {
    padding: 1rem;
    border: none;
    min-height: 200px;
    resize: vertical;
}

.active {
    background-color: pink;
    box-shadow: 0 0 0 .25rem pink;
    border-radius: 50%;
}

.found {
    background-color: rgb(99, 248, 228);
    box-shadow: 0 0 0 .25rem rgb(99,248,228);
}