:root {
    --main-bg-color : rgb(255, 255, 255);
    --board-bg-color : rgb(255, 255, 255);
    --cell-bg-color : rgb(255, 255, 255);

    --drag-color : pink;
    --found-color: rgb(198, 255, 255);
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    place-content: center;
font-family: 'Anek Tamil', sans-serif;
}

.board {
    background: var(--board-bg-color);
    width: 35rem;
    display: grid;
    aspect-ratio: 1;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    place-items: center;
    gap: 1px;
    padding: 2rem;
}

.cell {
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: 0 0 0 .25rem var(--cell-bg-color);
    background: var(--cell-bg-color);
    cursor: pointer;
    user-select: none;
    display: grid;
    place-content: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    transition: 250ms;
    border-radius: 50%;
}

.cell:hover{
    background: burlywood;
    box-shadow: 0 0 0 .20rem burlywood;
}

.words-settings {
    padding: 1rem;
}

.words-input {
    padding: 1rem;
    min-height: 200px;
    resize: vertical;
}

.active {
    background-color: var(--drag-color);
    box-shadow: 0 0 0 .25rem var(--drag-color);
    border-radius: 50%;
}

.found {
    background-color: var(--found-color);
    box-shadow: 0 0 0 .25rem var(--found-color);
}

.settings {
    width:15rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.word-list {
    margin-top:40px;
    position: relative;
    list-style: none;
    width:11rem;
    padding: 0rem 2rem;
    height:0rem;
    overflow:hidden;
    background-color: rgb(255, 255, 255);
    position:absolute;
    transition: 260ms;
}

.word-list-active{
    height:30rem;
    transform: scale(1);
    animation-name: show-word-list;
    animation-duration: 500ms;
}

@keyframes show-word-list {
    0% {
        transform: scale(0,0);
    }

    50% {
        transform: scale(0.1,1);
    }
    100% {
        transform: scale(1,1);
    }
}
