body {
    background-color: rgb(80, 80, 80);
    display: flex;
    place-content: center;
}

.board {
    background: rgb(44, 44, 44);
    width:50rem;
    
    display: grid;

    aspect-ratio: 1/1;

    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);

    place-items: center;

    gap: 0.2rem;
    padding:0.2rem;

}

.cell {
    width:2rem;
    height:2rem;
    box-shadow: 0 0 0 .25rem white;
    background: rgb(255, 255, 255);
    cursor: pointer;
    user-select: none;
    display: grid;
    place-content: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cell:hover {
    background-color: beige;
}

.words-settings{

    padding:1rem;
    
}

.words-input{
    padding:1rem;
    border:none;
    min-height: 200px;
    resize: vertical;
}